<template>
  <div>
    <v-container fluid grid-list-md>
      <h3 class="headline">Orders</h3>
      <Orders :orders="orders"></Orders>
      <!-- <v-flex xs12 v-if="orders.length == 0">
        <v-alert :value="true" type="warning">No order at this point</v-alert>
      </v-flex>-->
    </v-container>
  </div>
</template>

<script>
import Orders from "@/components/OrderReciept";
export default {
  layout: "user",
  components: {
    Orders
  },
  data() {
    return {
      // orders: []
    };
  },
  computed: {
    orders() {
      return this.$store.state.user.orders || [];
    }
  },
  mounted() {},
  head() {
    return {
      title: { inner: "Orders" }
    };
  }
};
</script>
