<template>
  <div>
    <v-container fluid grid-list-md>
      <h3 class="headline ma-3">Carousels</h3>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex v-for="(image, n) of images" :key="n" xs4 d-flex>
          <v-hover>
            <v-card slot-scope="{ hover }" flat tile class="d-flex">
              <v-img
                :src="sails.API_URL+'/pipe-image/'+image.id"
                :lazy-src="sails.API_URL+'/pipe-image/'+image.id"
                aspect-ratio="1"
                class="grey lighten-2"
              >
                <v-btn @click="deleteImage(image.id)" color="error" icon>
                  <v-icon>mdi-trash-can</v-icon>
                </v-btn>

                <v-card v-if="hover" flat>
                  <v-card-text>
                    <v-form>
                      <v-text-field id="currentStack" :value="image.url" outline label="Url to"></v-text-field>
                      <br>
                      <v-btn small @click="updateLinkOrInfo(image.id)" color="primary">update</v-btn>
                    </v-form>
                  </v-card-text>
                </v-card>

                <template v-slot:placeholder>
                  <v-layout fill-height align-center justify-center ma-0>
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </template>
              </v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>

      <h3 class="headline my-5">Upload Carousels</h3>
      <file-pond
        class="my-5 border"
        name="photo"
        ref="pond"
        label-idle="Drop files here..."
        allow-multiple="true"
        accepted-file-types="image/jpeg, image/png"
        :server="server"
      />
      <v-btn color="secondary" @click="$router.go()">Refresh</v-btn>
    </v-container>

    <v-snackbar bottom left v-model="snackbar" color="primary">
      Info updated successfully
      <v-btn color="secondary" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
const FilePond = vueFilePond();

export default {
  layout: "admin",
  components: {
    FilePond
  },
  data() {
    return {
      server: {
        url: this.sails.API_URL + "/site/upload-images/?type=carousel",
        process: {
          method: "POST",
          withCredentials: true,
          headers: {},
          timeout: 7000,
          onload: null,
          onerror: null,
          ondata: null
        }
      },
      images: Array(),
      url: "",
      snackbar: false
    };
  },
  methods: {
    updateLinkOrInfo(imageId) {
      this.url = document.querySelector("#currentStack").value;
      axios
        .patch("/site/update-image-link-or-info", {
          url: this.url,
          id: imageId
        })
        .then(d => {
          console.log(this.url);
          this.snackbar = true;
        });
    },
    deleteImage(id) {
      axios.delete("/site/delete-image", { params: { id: id } }).then(d => {
        var i = this.images.find(x => x.id === id);
        this.images.splice(i.id, 1);
      });
    }
  },
  mounted() {
    this.axios.get("/site/carousel/get-images").then(({ data }) => {
      console.log(data);
      this.images = data;
    });
  },
  head: {
    title: { inner: "Admin" }
  }
};
</script>
