<route-meta>
{
  "requiresAuth": true
}
</route-meta>

<template>
  <div>
    <v-container fluid grid-list-md>
      <v-layout wrap row>
        <!-- <div style="position:relative"> -->
        <v-btn fab fixed bottom right icon color="primary">
          <v-icon>mdi-account-search</v-icon>
        </v-btn>
        <!-- </div> -->
        <v-flex xs12>
          <Earnings></Earnings>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Earnings from "@/components/Earnings";

export default {
  layout: "admin",
  components: {
    Earnings
  },
  data() {
    return {};
  },
  methods: {
    search() {}
  }
};
</script>
