<template>
  <div>
    <v-container grid-list-md>
      <h3 class="headline">Orders</h3>
      <center v-if="orderData.length == 0">
        <v-card flat class="border">
          <v-card-text>
            <v-icon size="150">mdi-watermark</v-icon>
            <br>
            <span class="headline tiny">No Orders In Place!</span>
          </v-card-text>
        </v-card>
      </center>

      <Orders :orders="orderData"></Orders>
    </v-container>
  </div>
</template>

<script>
import Orders from "@/components/OrderReciept";
export default {
  layout: "admin",
  components: {
    Orders
  },
  mounted() {
    axios.get("/admin/orders").then(({ data }) => {
      this.orderData = data;
    });
  },
  data() {
    return {
      orderData: ""
    };
  }
};
</script>

<style scoped>
#border {
  border-radius: 60% !important;
}
.headline {
  font-weight: 200 !important;
}
</style>
