<template>
  <div class="products">
    <h1 class="headline">Products</h1>
    <center v-if="products.length == 0">
      <v-card flat class="border">
        <v-card-text>
          <v-icon size="150">mdi-water-pump</v-icon>
          <br>
          <span class="headline tiny">There's Nothing Here Right Now</span>
          <br>
          <v-btn to="/product/new" color="primary" depressed>add product</v-btn>
        </v-card-text>
      </v-card>
    </center>
    <products isAdmin="true" :data="products"></products>
  </div>
</template>

<script>
import Products from "@/components/Products";
export default {
  components: {
    Products
  },
  layout: "admin",
  data() {
    return {
      products: ""
    };
  },
  mounted() {
    this.getProductsOfVendor();
  },
  computed: {},
  methods: {
    getProductsOfVendor() {
      this.axios.get("/products").then(({ data }) => {
        this.products = data;
      });
    }
  }
};
</script>
