<template>
  <div>
    <h1 class="headline">Users</h1>
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on }">
        <v-data-table :headers="headers" :items="users" class="pt-5">
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.cin }}</td>
            <td class="text-xs-left">{{ props.item.fullName }}</td>
            <td class="text-xs-left">{{ props.item.emailAddress }}</td>
            <td class="text-xs-left pl-4">
              <v-icon
                small
                @click=" userToDelete = props.item.id,opendeleteModal(props.item.id)"
                color="red"
                dark
              >mdi-trash-can</v-icon>
            </td>
          </template>
        </v-data-table>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Delete User</v-card-title>
        <v-card-text>Are you sure you want to delete this User?</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" class="white--text" @click="dialog = false">Cancel</v-btn>
          <v-btn color="red" class="white--text" @click="dialog = false, removeUser()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  layout: "admin",
  data() {
    return {
      dialog: false,
      del: false,
      userToDelete: "",
      headers: [
        {
          text: "n/s",
          value: "cin"
        },
        {
          text: "Full Name",
          value: "Full Name"
        },
        {
          text: "Email",
          value: "email"
        },
        // {
        //   text: "Role",
        //   value: "role"
        // },
        {
          text: "Action",
          value: "action"
        }
      ],
      users: [
        {
          fullName: "Loading..",
          email: "Loading.."
        }
      ]
    };
  },

  methods: {
    getUsers() {
      axios.get("/admin/users/?type=users").then(({ data }) => {
        this.users = data;
      });
    },
    opendeleteModal(id) {
      this.dialog = true;
      // this.removeUser(id);
    },
    removeUser() {
      this.axios.delete("/admin/user/?id=" + this.userToDelete).then(any => {
        history.go();
      });
      // console.log(this.userToDelete);
    }
  },
  mounted() {
    this.getUsers();
  },
  head() {
    return {
      title: { inner: "Users" }
    };
  }
};
</script>
