<template>
  <div>
    <v-container grid-list-md fluid>
      <h1 class="headline">Vendors</h1>
      <v-layout row wrap>
        <v-flex xs12>
          <!-- <v-autocomplete width="80" label="Search by cin, name and id" box></v-autocomplete> -->
        </v-flex>
        <br>
        <!-- <v-flex xs4 v-for="(vendor, i) of vendors" :key="i">
          <v-card class="border">
            <v-img
              v-if="vendor.storeImages.length >= 2"
              :src="uri+'/image/random/'+vendor.storeImages[0].id"
              aspect-ratio="2.75"
            >
              <v-btn @click="removeVendor(vendor.id)" color="error" style="float:right" icon>
                <v-icon>mdi-trash-can</v-icon>
              </v-btn>
            </v-img>
            <v-card-title primary-title style="position:relative;">
              <v-avatar color="grey lighten-4" class="avatar-pics">
                <v-img
                  v-if="vendor.storeImages.length >= 2"
                  :src="uri+'/image/random/'+vendor.storeImages[1].id"
                  aspect-ratio="2.75"
                ></v-img>
              </v-avatar>
              <div>
                <h3 class="headline mb-0">{{ vendor.fullName }}</h3>
                <div>
                  <b class="text-muted">CIN:</b>
                  {{ vendor.cin }}
                  <br>
                  <b class="text-muted">Products:</b>
                  {{ vendor.products.length }}
                  <br>
                  <b class="text-muted">Created:</b>
                  {{ vendor.createdAt | moment("dddd, MMMM Do YYYY") }}
                  <br>
                  <b class="text-muted">Reviews:</b>
                  {{ vendor.reviews }}
                  <br>
                </div>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>-->
        <v-flex xs12>
          <v-data-table :headers="headers" :items="vendors" class="pt-5">
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.cin }}</td>
              <td class="text-xs-left">{{ props.item.fullName }}</td>
              <td class="text-xs-left">{{ props.item.emailAddress }}</td>
              <td class="text-xs-left">
                <router-link :to="'/vendor/'+props.item.nameSlug">{{ props.item.products.length }}</router-link>
              </td>
              <td class="text-xs-left pl-4">
                <v-icon
                  small
                  @click=" userToDelete = props.item.id,opendeleteModal(props.item.id)"
                  color="red"
                  dark
                >mdi-trash-can</v-icon>
              </td>
            </template>
          </v-data-table>
        </v-flex>
        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>Delete User</v-card-title>
            <v-card-text>Are you sure you want to delete this User?</v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue" class="white--text" @click="dialog = false">Cancel</v-btn>
              <v-btn color="red" class="white--text" @click="dialog = false, removeUser()">Delete</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "admin",
  data() {
    return {
      uri: sails.API_URL,
      dialog: false,
      del: false,
      userToDelete: "",
      vendors: [],
      headers: [
        {
          text: "n/s",
          value: "cin"
        },
        {
          text: "Full Name",
          value: "Full Name"
        },
        {
          text: "Email",
          value: "email"
        },
        {
          text: "Products",
          value: "products"
        },
        {
          text: "Action",
          value: "action"
        }
      ]
    };
  },

  methods: {
    getUsers() {
      axios.get("/admin/users/?type=vendors").then(({ data }) => {
        this.vendors = data;
      });
    },
    removeVendor(id) {
      this.axios.delete("/admin/user/?id=" + id).then(any => {
        this.vendors.splice(
          this.vendors.findIndex(i => {
            return i.id === id;
          }),
          1
        );
      });
    }
  },
  mounted() {
    this.getUsers();
  },
  head() {
    return {
      title: { inner: "Vendors" }
    };
  }
};
</script>
<style scoped>
.avatar-pics {
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
}
</style>
