<template>
  <div class="earnings">
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12 md9>
          <v-card color="primary" dark class="border-only">
            <v-card-title primary-title>
              <h1>Estimated earnings</h1>
            </v-card-title>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 md3>
                  <b>Today So Far</b>
                  <br>
                  <h1>{{ 23 | currency }}</h1>
                </v-flex>
                <v-flex xs12 md3>
                  <b>Yesterday</b>
                  <br>
                  <h1>{{ 43 | currency }}</h1>
                </v-flex>
                <v-flex xs12 md3>
                  <b>Last 7 Days</b>
                  <br>
                  <h1>{{ 199 | currency }}</h1>
                </v-flex>
                <v-flex xs12 md3>
                  <b>This Month</b>
                  <br>
                  <h1>{{ 500 | currency }}</h1>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md3>
          <v-card color="primary" dark class="border-only">
            <v-card-title>
              <h1>Balance</h1>
            </v-card-title>
            <v-card-text>
              <h1>{{ 28 | currency }}</h1>
              <small>last payment</small>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs6>
          <v-card dark color="primary" class="border-only">
            <v-card-text>
              <h3 class="headline">Messaging feature in progress</h3>A powerfull new way to recieve feedbacks from your visitors and buyers before or after they purchase your product.
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs6>
          <v-card dark color="primary" class="border-only">
            <v-card-title>Upcoming</v-card-title>
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, .12)">
                <v-sparkline
                  :value="value"
                  color="rgba(255, 255, 255, .7)"
                  height="100"
                  padding="24"
                  stroke-linecap="round"
                  smooth
                >
                  <template v-slot:label="item">${{ item.value }}</template>
                </v-sparkline>
              </v-sheet>
              <!-- <v-btn loading flat color="white"></v-btn> -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script>
export default {
  layout: "vendor",
  data() {
    return {
      value: [
        _.random(123, 829),
        _.random(173, 829),
        _.random(173, 829),
        _.random(123, 829),
        _.random(123, 829)
      ]
    };
  }
};
</script>
