<template>
  <div>
    <Alerts></Alerts>
    <v-toolbar color="primary" dark>
      <v-toolbar-title @click="gotoHome" class="headline text-uppercase">
        <span>Import</span>
        <span class="font-weight-light">Hub</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn to="/vendor/help/?" color="primary " depressed>Help</v-btn>&nbsp;
      <v-btn to="/vendor/whish-list/?" color="primary " depressed>Wish List</v-btn>&nbsp;
      <v-autocomplete
        v-model="model"
        :items="items"
        :loading="isLoading"
        :search-input.sync="search"
        clearable
        hide-details
        hide-selected
        @keyup="doSearch(search)"
        item-text="name"
        item-value="symbol"
        label="Search for vendors, products, brands and categories..."
        dark
        color="white"
        cache-items
        browser-autocomplete="on"
        solo-inverted
      ></v-autocomplete>
      <v-spacer></v-spacer>
      <v-btn to="/vendor/signup/?" color="primary " depressed>Store Locator</v-btn>&nbsp;
      <v-btn to="/vendor/signup/?" color="primary " depressed>Sell</v-btn>&nbsp;
      <div v-if="user.id">
        <v-avatar @click="handleUserNavigation">
          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
        </v-avatar>
      </div>
      <div v-else>
        <v-btn color="primary" to="/auth/sign_in">Login</v-btn>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
import Alerts from "@/components/Progress-alerts";
import { mapState } from "vuex";

export default {
  components: { Alerts },
  data() {
    return {
      isLoading: false,
      items: [],
      model: null,
      search: [],
      menu: false
    };
  },
  mounted() {
    this.getUser();
  },
  computed: {
    ...mapState(["user", "cart"]),
    userUrl() {
      var url = this.user.url ? this.user.url : this.user.id;
      return url;
    }
  },
  methods: {
    clickNextSearch(val) {
      console.log(val);
      this.$router.push("/product/" + val);
    },
    doSearch(val) {
      // Items have already been loaded
      // if (this.items.length > 0) return;
      this.isLoading = true;
      // Lazily load input items
      axios
        .post("/search/", {
          search: val
        })
        .then(({ data }) => {
          // console.log(data);
          this.items = data;
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => (this.isLoading = false));
    },
    handleUserNavigation() {
      if (this.user.isSuperAdmin) {
        this.$router.push("/sudoer/?lorem=dolor");
      } else if (this.user.isVendor) {
        this.$router.push("/vendor/?lorem=dolor");
      } else {
        this.$router.push("/user/?lorem=dolor");
      }
    },
    async getUser() {
      try {
        var { data, error } = await axios.post("/sync-user");
        this.$store.commit("setUser", data.user);
        this.$store.commit("setUserProducts", data.products);
      } catch {
        // if any error?
        // .. roll back our commit transactions
        this.$store.commit("setUserProducts", {});
        this.$store.commit("setUser", {});
      }
    },

    navigate(where) {
      switch (where) {
        case "create-product":
          return this.$router.push("/product/new/?a");
          break;
        case "products":
          return this.$router.push("/vendor/" + this.nameSlug + "/products/?b");
          break;
        case "settings":
          return this.$router.push("/vendor/" + this.nameSlug + "/settings/?c");
          break;
        case "wallet":
          return this.$router.push("/wallet/wallet");
          break;
        default:
          break;
      }
    },
    gotoHome() {
      return this.$router.push("/");
    }
  }
};
</script>
