<template>
  <div>
    <v-container grid-list-lg v-if="orders">
      <v-layout row wrap>
        <v-flex xs12 sm12 md12 v-for="(order, i) of orders" :key="i">
          <v-card>
            <v-card-text>
              <v-btn
                icon
                @click="deleteOrder(order.id)"
                style="float:right"
                color="red"
                dark
                title="Delete Order"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>

              <v-img src="/img/logo.png" style="width: 130px; "/>

              <v-layout row wrap>
                <v-flex xs6>
                  <h3 class="headline">Shipping details</h3>
                  <v-content>
                    <b class>Country:</b>
                    {{ order.country }}
                    <br>
                    <b class>Address:</b>
                    {{ order.address }}
                    <br>
                    <b class>State:</b>
                    {{ order.state }}
                    <br>
                    <b class>City:</b>
                    {{ order.city }}
                    <br>
                    <b class>Tracking Number:</b>
                    {{ order.trackingNumber }}
                    <br>
                  </v-content>
                </v-flex>
                <v-flex xs6>
                  <h3 class="headline">Shipping User details</h3>
                  <v-content>
                    <b>FullName:</b>
                    {{ order.fullName }}
                    <br>
                    <b>Country:</b>
                    {{ order.country }}
                    <br>
                    <b>PhoneNumber:</b>
                    {{ order.phoneNumber }}
                    <br>
                    <b>EmailAddress:</b>
                    {{ order.emailAddress }}
                    <br>
                  </v-content>
                </v-flex>

                <v-flex xs12 md12>
                  <h3 class="headline my-5">Ordered Products</h3>
                  <v-layout class wrap row>
                    <v-flex
                      xs12
                      md6
                      d-flex
                      class="border"
                      v-for="cart of order.products"
                      :key="cart.id"
                    >
                      <v-card class="elevation-12" ripple hover :to="'/product/'+cart.id">
                        <v-card-text>
                          <b>Name:</b> &nbsp;
                          <span class="head_line">{{ cart.name }}</span>
                          <v-divider/>
                          <span class="headline">{{ cart.price | currency }}</span>
                          &nbsp;
                          <b
                            class="headline text-muted"
                          >x {{ cart.quantity }}</b>
                          <v-divider/>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                    <br>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ["orders"],
  //   data() {
  //     return {
  //       orders: ""
  //     };
  //   },
  methods: {
    deleteOrder(id) {
      axios
        .delete("/orders/delete-order", { params: { id: id } })
        .then(data => {
          this.$router.go();
        });
    }
  }
};
</script>

<style scoped>
#border {
  border-radius: 60% !important;
}
.headline {
  font-weight: 200 !important;
}
</style>
