<template>
  <div id="productSideBar">
    <v-container fluid class="ma-0">
      <div>
        <!-- <v-radio-group @click="queryFilter" id="toggles" row v-model="price">
        <v-radio id="toggles" v-for="(price, i) of prices" :key="i" :label="price" :value="price"></v-radio>
        </v-radio-group>-->
      </div>

      <!-- <div>
        <h3>Brand</h3>
        <v-combobox
          @change="queryFilter($event)"
          v-model="brand"
          :items="brands"
          label="Select brand"
          multiple
          chips
        ></v-combobox>
      </div>-->
      <div>
        <h3>Category</h3>
        <v-combobox
          @change="queryFilter($event)"
          v-model="categoryValue"
          :items="categories"
          label="Select Category"
          multiple
          chips
        ></v-combobox>
      </div>
      <!-- <input type="text" v-model="range[1]"> -->
      <div>
        <h3>Price Range</h3>
        <v-layout row wrap>
          <v-flex xs12 md12 class="px-0">
            <v-range-slider
              thumb="always"
              thumb-color="primary"
              v-model="range"
              :max="max"
              :min="min"
            ></v-range-slider>
          </v-flex>
          <!-- <v-flex xs12 md4 class="px-0"></v-flex> -->
          <v-flex xs12 md6 class="ma-0">
            <v-text-field
              @change="changePrice"
              prefix="₦"
              v-model="range[0]"
              class="mt-0"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6 class="ma-0">
            <v-text-field
              @change="changePrice"
              prefix="₦"
              v-model="range[1]"
              class="mt-0"
              type="number"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </div>
    </v-container>
  </div>
</template>


<script>
export default {
  data() {
    return {
      // filter //
      brand: ["Any"],
      categoryValue: "",
      subCategoryValue: "",
      price: "" /** this is to hold our current price filter */,
      categories: [],
      subCategories: [],
      // this should be fetched from the server
      brands: ["Any", "Hp", "Dell", "Compaq", "Lenovo"],
      prices: [
        "Under ₦2000",
        "₦2000 - ₦5000",
        "₦5000 - ₦10000",
        "₦10000 - ₦20000",
        "Above ₦20000"
      ],

      // Validations
      priceRules: [v => v <= 40 || "Only 40 in stock"],
      // evals
      min: 1000,
      max: 100000,
      slider: 40,
      range: [1000, 100000]
    };
  },
  computed: {
    category() {
      return this.$route.params.category;
    }
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    changePrice() {
      console.log(this.range[0], this.range[1]);
    },
    getCategories() {
      axios.get("/category/get-all").then(({ data }) => {
        this.categories = _.map(data, c => c.text);
        // console.log(this.categories);
      });
    },
    queryFilter(what = null) {
      // console.log(what);
      // console.warn(this.categoryValue);
      // console.log(this.min, this.max);
      this.axios
        .get("/product/search-toggle", {
          params: {
            price: this.price,
            brand: what,
            category: this.categoryValue
          }
        })
        .then(res => {
          // commit to store
          this.$store.commit("setProducts", res.data);
          // console.log(this.$store.state.products);
        })
        .catch(e => {
          // this.$store.commit("setProducts", e);
          console.error("ERROR ", e);
        });
    }
  }
};
</script>

<style scoped>
#productSideBar {
}
</style>
