<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap align-baseline>
        <v-flex xs6 sm4 md3 v-for="(product, i) of data" :key="i">
          <!-- ------------------------- -->
          <v-hover>
            <v-card slot-scope="{ hover }" flat class="py-1 mx-auto border">
              <v-img
                :aspect-ratio="2"
                @click="navigate(product.slug+'/?ouid='+product.id)"
                height="150"
                :src="`${sUrl}/product/${product.photos[0].id}/photo`"
                class="ma-2 flat"
              >
                <span class="ma-3 badge badge-primary">{{ product.category.split(",")[0] }}</span>
                <!-- class="d-flex transition-fast-in-fast-out primary darken-2 v-card--reveal display-3 white--text" -->
              </v-img>
              <v-card-text class style="position: relative;">
                <v-btn
                  @click="cartNow(product)"
                  absolute
                  color="primary"
                  class="white--text"
                  fab
                  small
                  right
                  top
                  v-if="!isAdmin"
                >
                  <v-icon>mdi-cart</v-icon>
                </v-btn>

                <div v-if="isAdmin">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        absolute
                        color="secondary"
                        v-on="on"
                        class="white--text"
                        fab
                        small
                        left
                        top
                      >
                        <v-icon>mdi-circle-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-tile
                        v-for="(item, index) in menuItems"
                        :key="index"
                        @click="runMenu(item.title, product.id)"
                      >
                        <v-list-tile-title>
                          <v-icon>{{ item.icon }}</v-icon>
                          {{ item.title }}
                        </v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </div>

                <div>
                  <b>{{ product.name.substring(0, 40) }}</b>
                  <!-- <v-card-text> -->
                  <br>
                  <span class="text-success headline">{{ product.price | currency }}</span>
                  <br>
                  <span v-if="product.marketPrice" id="saved" style="color:green">
                    <small>You save {{ product.price - product.marketPrice | currency }}</small>
                  </span>
                  <br>
                  <b>{{ product.stockQuantity }} pieces</b>
                  ({{ product.moq }} min order)
                </div>
                <small>
                  Sold by
                  <router-link
                    :to="'/vendor/'+product.vendor.nameSlug"
                  >{{ product.vendor.fullName }}</router-link>
                </small>
                <v-expand-transition v-if="hover">
                  <!-- <div style="height: 100%;">
                    <small>
                      <v-rating small v-model="rating"/>2 votes
                    </small>
                  </div>-->
                </v-expand-transition>
              </v-card-text>
            </v-card>
          </v-hover>
          <!-- ---------- --------------- -->
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar bottom left class="ma-4" v-model="snackbar">
      item has been added to cart
      <v-btn icon @click="snackbar = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  props: ["data", "isAdmin"],
  data() {
    return {
      rating: 2,
      snackbar: false,
      sUrl: sails.API_URL,
      menuItems: [
        { title: "Edit", icon: "mdi-feather" },
        { title: "Delete", icon: "mdi-trash-can" }
      ]
    };
  },
  methods: {
    runMenu(what, id) {
      // console.log(what, id);
      switch (what.toLowerCase()) {
        case "delete":
          this.axios.delete("/product/?id=" + id);
          this.$router.go();
          break;
        case "edit":
          return this.$router.push("/product/edit/" + id);
          break;
        default:
          break;
      }
    },
    cartNow(needle) {
      this.$store.commit("addToCart", needle);
      this.snackbar = true;
    },
    navigate(to) {
      this.$router.push("/product/" + to);
    }
  }
};
</script>


<style scoped>
.opacity {
  opacity: 1;
}
#pName {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}
.text-success {
  color: green;
}
.headline {
  font-size: 20px !important;
  font-weight: 400;
  line-height: 32px !important;
}
</style>

