<template>
  <div>
    <v-progress-linear
      v-if="$store.state.loading"
      class="ma-0 loader"
      color="primary darken-4"
      :indeterminate="true"
    />

    <!-- <v-progress-linear class="ma-0" v-if="loading" :indeterminate="true"></v-progress-linear> -->
    <v-snackbar bottom left v-model="$store.state.loadingError">
      Sorry an unexpected error occured
      <v-btn icon @click="$store.state.loadingError = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>

    <v-dialog fullscreen v-model="$store.state.oops">
      <v-card>
        <v-btn @click="$store.state.oops = false" style="float:right" icon color="primary">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-title>
          <h3 class="headline">Sorry</h3>
        </v-card-title>
        <v-card-text>We can't intercept your connection strategy right now, please try a different route later.</v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            small
            @click="$store.state.oops = false, $router.push('/')"
          >Take me home</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  computed: {
    loading() {
      return this.$store.state.loading;
    }
  },
  async mounted() {
    await this.getUser();
    // update user store
  },
  methods: {
    async getUser() {
      try {
        var { data, error } = await axios.post("/sync-user");
        this.$store.commit("setUser", data.user);
        this.$store.commit("setUserProducts", data.products);
      } catch {
        // if any error?
        // .. roll back our commit transactions
        this.$store.commit("setUserProducts", {});
        this.$store.commit("setUser", {});
      }
    }
  }
};
</script>


<style scoped>
.loader {
  background: white;
  position: fixed;
  z-index: 1;
}
</style>
