<template>
  <div>
    <v-toolbar dense color="primary" class="darken-2 z-index-1000" dark>
      <!-- <v-toolbar-items class="hidden-sm d-flex">
        <v-btn small flat>Laptops</v-btn>
      </v-toolbar-items>-->
      <div class="menu" v-for="(a,i) in 3" :key="i">
        <div class="menuLink d-flex pa-2">Laptops{{i}}</div>
        <div class="menuContent elevation-3 pa-3">
          <v-layout wrap row>
            <v-flex xs12 sm6 md9>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 v-for="(x,y) in 8" :key="y">
                  <div class="category mb-2">
                    <div class="category_header title font-weight-regular">header{{y}}</div>
                    <div
                      class="category_item pt-1 subheading font-weight-light"
                      v-for="(a,i) in 5 "
                      :key="i"
                    >but</div>
                  </div>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm6 md3>
              <img src="/img/bgs/app-deals.jpg" class="menu_img" alt srcset>
            </v-flex>
          </v-layout>
        </div>
      </div>
      <!-- <v-toolbar-items class="hidden-sm"> -->
      <!-- <v-btn
          small
          v-for="(category, i) in categories"
          :to="'/category/'+ category.value"
          :key="i"
          flat
      >{{ category.text }}</v-btn>-->
      <!-- </v-toolbar-items> -->
      <v-spacer/>

      <v-btn to="/cart/overview" flat color="white">
        <v-badge color="red">
          <template v-slot:badge v-if="cart > 0">
            <span>{{ cart }}</span>
          </template>
          <v-icon size="48">mdi-cart</v-icon>
        </v-badge>
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
      categories: []
    };
  },
  methods: {},
  async mounted() {
    var { data } = await axios.get("/category/get-all");
    this.categories = data;
  },
  computed: {
    cart() {
      return this.$store.state.cart.length;
    }
  }
};
</script>
<style scoped>
.menu {
}
.z-index-1000 {
  z-index: 1000;
}
.menuContent {
  display: none;

  position: absolute;
  /* top: 0px; */
  left: 0;
  /* transform: translateX(-50%); */
  height: auto;
  width: 100%;
  background-color: white;
  /* border: 1px solid red; */
  color: black;
  z-index: 100;
}
.menuLink:hover {
  /* display: block; */
  transition: 0.3s ease-in;
  background-color: white;
  height: 100%;
  color: #1e47be;
}
.menu:hover .menuContent {
  display: block;
  transition: 0.3s ease-in;
}
.menu:hover .menuLink {
  background-color: white;
  color: #1e47be;
}
.category_header {
}
.category_item {
  cursor: pointer;
}
.category_item:hover {
  color: red;
}
.menu_img{
  width: 100%;
  height:auto;
}
</style>
