<template>
  <v-container grid-list-md>
    <div>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm9 md6>
          <v-toolbar fluid fill-height class="primary">
            <v-toolbar-title class="text-xs-center white--text">1. Shipping Information</v-toolbar-title>
          </v-toolbar>
          <v-card justify-center class="elevation-0">
            <v-card-text>
              <v-form v-model="valid">
                <v-text-field
                  :rules="emailAddressRules"
                  outline
                  v-model="emailAddress"
                  label="Email"
                  required
                ></v-text-field>
                <v-text-field outline v-model="fullName" label="Contact Name" required></v-text-field>
                <v-combobox
                  outline
                  v-model="country"
                  :rules="countryRules"
                  :items="items"
                  label="Country/Region"
                  required
                ></v-combobox>
                <v-text-field
                  outline
                  v-model="address"
                  :rules="addressRules"
                  label="Street Address"
                  required
                ></v-text-field>
                <v-text-field outline v-model="city" :rules="cityRules" label="City" required></v-text-field>
                <v-text-field
                  outline
                  v-model="state"
                  :rules="stateRules"
                  label="State/Province/Region"
                  required
                ></v-text-field>
                <v-text-field
                  outline
                  v-model="phoneNumber"
                  :rules="phoneNumberRules"
                  label="Phone Number"
                  required
                ></v-text-field>
                <!-- <v-btn @click="saveShippingInfo" class="primary">Save and ship to the Address</v-btn> -->
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 sm9 md6>
          <v-toolbar class="primary">
            <v-toolbar-title class="white--text">2. Payment</v-toolbar-title>
          </v-toolbar>
          <v-card>
            <v-card-text class="headline">Total {{ totalPrice | currency }}</v-card-text>
            <v-card-actions>
              <paystack
                class="ma-2"
                :amount="amount"
                :email="email"
                :paystackkey="paystackkey"
                :reference="reference"
                :callback="callback"
                :close="close"
                :embed="false"
              >
                <v-btn class="primary">Pay</v-btn>
              </paystack>
              <v-btn class="secondary" to="/cart/overview">View Cart</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
    <v-spacer></v-spacer>
    <br>
    <br>
  </v-container>
</template>

<script>
import paystack from "vue-paystack";
export default {
  components: {
    paystack
  },
  data() {
    return {
      paystackkey: "pk_test_49973b3ae3ff4179fc2b6c0860d168f90e919d18", //paystack public key
      email: "", // Customer email
      amount: "", // in kobo
      reference: "",

      valid: false,
      country: "Nigeria",
      city: "",
      phoneNumber: "",
      state: "",
      fullName: "",
      address: "",
      emailAddress: "",

      items: ["Nigeria", "Ghana", "Keyena", "South Africa", "USA"],
      // RULES
      emailAddressRules: [v => !!v || "email is required"],
      cityRules: [v => !!v || "City is required"],
      stateRules: [v => !!v || "State is required"],
      countryRules: [v => !!v || "Country is required"],
      phoneNumberRules: [v => !!v || "Phone number is required"],
      addressRules: [v => !!v || "Address is required"]
    };
  },
  computed: {
    cartItems() {
      return this.$store.state.cart;
    },
    totalPrice() {
      var total;
      if (this.cartItems.length === 1) {
        total = this.cartItems[0].price * this.cartItems[0].quantity;
      } else if (this.cartItems.length > 1) {
        this.cartItems.reduce(
          (v, i) =>
            (total =
              Number(v.price * v.quantity) + Number(i.price * i.quantity))
        );
      }
      return total;
    },
    user() {
      return this.$store.state.user;
    }
  },
  mounted() {
    function convertNairaToKobo(amount) {
      amount = amount * 100;
      return Number(amount);
    }

    this.amount = convertNairaToKobo(this.totalPrice);

    this.fullName = this.user.fullName;
    this.emailAddress = this.user.emailAddress;
    this.email = this.user.emailAddress;
    this.reference = Math.random()
      .toString(36)
      .substring(7);
  },

  methods: {
    callback(response) {
      console.log(response);
      if (
        (typeof response === "string" && response.message === "Approved") ||
        response.trxref
      ) {
        this.saveShippingInfo();
      }
    },
    close() {
      console.log("Payment closed");
    },
    saveShippingInfo() {
      // console.log(JSON.stringify(this.cartItems));
      if (this.valid) {
        axios
          .post("/cart/save-order-info", {
            country: this.country,
            state: this.state,
            city: this.city,
            phoneNumber: this.phoneNumber,
            fullName: this.fullName,
            address: this.address,
            emailAddress: this.emailAddress,
            products: this.cartItems
          })
          .then(({ data }) => {
            this.$router.push("/orders");
          })
          .catch(e => {});
      }
    }
  }
};
</script>

<style>
</style>
