<template>
  <div>
    <v-container fluid grid-list-md>
      <div v-if="cartItems.length == 0">
        <v-layout justify-center>
          <v-flex xs12 sm7 md5>
            <v-card flat class="border">
              <v-card-text class="text-xs-center">
                <v-icon color="primary" size="150">mdi-cart-off</v-icon>
                <h3 class="headline">Your cart is empty.</h3>You have not added any item to your cart.
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </div>

      <v-layout row wrap v-else>
        <!-- main flex for products-->
        <v-flex xs12 sm8 md8>
          <v-layout class="hover my-5" wrap row v-for="cart of cartItems" :key="cart.id">
            <!-- flex for image -->
            <v-flex xs12 sm4 md4>
              <router-link :to="'/product/'+cart.id">
                <v-img
                  height="150"
                  :src="`${sUrl}/product/${cart.photos[0].id}/photo`"
                  class="ma-4"
                />
              </router-link>
            </v-flex>
            <!-- flex for name and author, little description/price -->
            <v-flex xs12 sm6 md6>
              <span class="headline">{{ cart.name }}</span>
              <v-divider/>
              <span class="headline">{{ cart.price | currency }}</span>
              &nbsp;
              <b class="headline text-muted">x {{ cart.quantity }}</b>
              <v-btn @click="removeItem(cart)" icon title="Delete Cart Item" color="primary">
                <v-icon>mdi-trash-can</v-icon>
              </v-btn>
              <v-divider/>
              <v-btn color outline @click="decrease(cart)" small depressed icon>-</v-btn>
              {{ cart.quantity }}
              <v-btn color outline @click="increase(cart)" small depressed icon>+</v-btn>
            </v-flex>
            <br>
          </v-layout>
        </v-flex>

        <!-- check out flex -->
        <v-flex xs12 sm4 md4>
          <v-card flat>
            <v-card-text class="headline">Order summary</v-card-text>
            <v-card-text>
              <v-divider/>
              <b class="headline">
                Total:
                {{ totalPrice | currency }}
              </b>
            </v-card-text>
            <v-card-actions>
              <v-btn to="/cart/order-form" block color="primary" depressed>Check out</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-snackbar left bottom v-model="removedFromCart">
      Item removed from cart
      <v-btn color="primary" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      removedFromCart: false,
      sUrl: sails.API_URL
    };
  },
  mounted() {},
  computed: {
    cartItems() {
      return this.$store.state.cart;
    },
    totalPrice() {
      var total;
      if (this.cartItems.length === 1) {
        total =
          Number(this.cartItems[0].price) * Number(this.cartItems[0].quantity);
      } else if (this.cartItems.length > 1) {
        this.cartItems.reduce(
          (v, i) =>
            (total =
              Number(v.price * v.quantity) + Number(i.price * i.quantity))
        );
      }
      return total;
    }
  },
  methods: {
    increase(what = {}) {
      this.$store.commit("incrementCartQty", what);
    },
    decrease(what = {}) {
      this.$store.commit("decrementCartQty", what);
    },
    removeItem(what) {
      this.$store.commit("removeFromCart", what);
      this.removedFromCart = true;
    }
  }
};
</script>

<style>
#t {
  background: white;
}

#l {
  background: white;
}
</style>
