/* // lesshint-disable */
* {
  text-decoration: none;
  /* 'Merriweather','Georgia',serif */
  /* font-family: 'Merriweather', 'Georgia', serif; */

  /* font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;    */
  box-sizing: border-box;
  /* // font-size: small */
}

.text-muted {
  color: #6c757d !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #1e7e34 !important;
}

.text-center {
  text-align: center !important;
}

small {
  font-size: 80%;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* // lesshint-enable */

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  /* font-size: 75%; */
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
}

.badge .primary {
  color: #fff;
  background-color: #007bff;
}

.badge .primary[href]:hover,
.badge .primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

img {
  display: block;
}
