<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap justify-center>
        <v-flex xs12 md6 sm6>
          <v-card flat id="david_id" class="border" justify-center>
            <v-progress-linear class="ma-0" v-if="loader" :indeterminate="true"></v-progress-linear>
            <v-card-title class="text-xs-center">
              <span class="headline">Sign up</span>
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field
                  class="h"
                  outline
                  block
                  v-model="fullName"
                  :rules="fullNameRules"
                  label="FullName"
                  required
                ></v-text-field>

                <v-text-field
                  outline
                  block
                  v-model="email"
                  type="text & number"
                  :rules="emailRules"
                  label="Email"
                  required
                ></v-text-field>

                <v-text-field
                  outline
                  block
                  v-model="password"
                  type="number"
                  :rules="passwordRules"
                  label="password"
                  required
                ></v-text-field>
                <!-- is vendor switch -->
                <!-- <v-switch v-model="isVendor" label="I'm creating a vendor account"></v-switch> -->
                <v-btn block color="primary" @click="send">Sign me up</v-btn>
              </v-form>
              <v-btn flat color="blue lighten-1" to="/Auth/Sign_In">
                <small>Already have account?</small>
              </v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-snackbar multi-line top v-model="alert.key">{{ alert.text }}</v-snackbar>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      alert: {
        key: false,
        text: ""
      },
      loader: false,

      isVendor: false,

      fullName: "",
      fullNameRules: [
        v => !!v || "fullname is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "email is required"
        // v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      password: false,
      password: "",
      passwordRules: [
        v => !!v || "password is required",
        v => v.length <= 10 || "Name must be less than 10 characters"
      ]
    };
  },
  methods: {
    send() {
      this.loader = true;
      axios
        .post("/entrance/signup", {
          fullName: this.fullName,
          emailAddress: this.email,
          password: this.password,
          isVendor: this.isVendor
        })
        .then(res => {
          this.$store.commit("setUser", res.data);
          this.$router.push("/");
        })
        .catch(e => {
          this.loader = false;
          if (e.response.status == 409) {
            this.alert.key = true;
            this.alert.text = "The provided email is already in use";
          }
        });
    }
  }
};
</script>



<style scoped>
.h {
  height: 20%;
  background: white;
}
</style>
