<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm8 md6>
          <v-card flat id="david_id" class="border" justify-center>
            <v-progress-linear class="ma-0" v-if="loader" :indeterminate="true"></v-progress-linear>
            <v-card-title class="text-xs-center">
              <span class="headline">Sign in</span>
            </v-card-title>
            <v-card-text>
              <center>
                <v-btn depressed dark color="blue">
                  <v-icon>mdi-facebook</v-icon>
                </v-btn>
                <v-btn depressed dark color="red">
                  <v-icon>mdi-google-plus</v-icon>
                </v-btn>
                <v-btn depressed dark color="primary">
                  <v-icon>mdi-twitter</v-icon>
                </v-btn>
              </center>
            </v-card-text>
            <v-card-text>
              <v-form>
                <v-text-field
                  outline
                  v-model="email"
                  :rules="emailRules"
                  label="Email or phone"
                  required
                ></v-text-field>

                <v-text-field
                  outline
                  v-model="password"
                  type="number"
                  :rules="passwordRules"
                  label="Password"
                  required
                ></v-text-field>
              </v-form>
              <v-btn
                style="float:right"
                flat
                color="blue lighten-1"
                to="/Auth/Sign_Up"
              >create account</v-btn>
              <v-btn dark depressed @click="doSignUp" right color="primary">login</v-btn>

              <!-- <v-btn flat color="primary" class="text-lower-case">forget email</v-btn>
              <br>
              <span>Not your computer? Use Guest mode to sign in privately.</span>
              <br>
              <v-btn flat color="blue lighten-1">learn more?</v-btn>&nbsp;-->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-snackbar color="error" bottom left multi-line v-model="alert.key">
        <center>{{ alert.text }}</center>
        <v-btn color="secondary" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-container>
  </div>
</template>

        
<script>
export default {
  data() {
    return {
      loader: false,

      alert: {
        key: false,
        text: ""
      },
      email: "demo@gmail.com",
      emailRules: [
        v => !!v || "email is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      form: false,
      password: "123456",
      passwordRules: [
        v => !!v || "password is required",
        v => v.length <= 10 || "Name must be less than 10 characters"
      ]
    };
  },
  methods: {
    doSignUp() {
      axios
        .post("/entrance/signin", {
          emailAddress: this.email,
          password: this.password
        })
        .then(({ data }) => {
          this.$store.commit("setUser", data);
          if (data.isVendor) {
            this.$router.push("/vendor/?");
          }
          if (data.isSuperAdmin) {
            this.$router.push("/sudoer/?");
          }
          if (!data.isVendor) {
            this.$router.push("/user/?");
          }
        })
        .catch(e => {
          this.loader = false;

          if (e.response.status == 406) {
            this.alert.key = true;
            this.alert.text =
              "The provided email and password combination does not match any user in the database";
          }
        });
    }
  }
};
</script>

        

<style scoped>
.h {
  height: 20%;
  background: white;
}
</style>
