<template>
  <div>
    <ProgressAlert/>
    <v-container grid-list-md>
      <v-layout row wrap justify-center>
        <v-flex xs12 md8 sm6>
          <v-card flat id="david_id" justify-center>
            <v-card-title class="text-xs-center">
              <span class="headline">Sign up Admin</span>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid">
                <v-text-field
                  class="h"
                  outline
                  type="text"
                  v-model="fullName"
                  :rules="fullNameRules"
                  label="FullName"
                  required
                ></v-text-field>

                <v-text-field
                  outline
                  v-model="email"
                  type="email"
                  :rules="emailRules"
                  label="Email Adress"
                  required
                ></v-text-field>

                <v-text-field
                  outline
                  v-model="password"
                  type="password"
                  :rules="passwordRules"
                  label="Password"
                  required
                ></v-text-field>
                <!-- <v-switch v-model="isVendor" label="I'm creating a vendor account"></v-switch> -->
                <v-btn small depressed block color="primary" @click="send">Sign Up</v-btn>
              </v-form>
              <v-btn flat color="blue lighten-1" to="/Auth/Sign_In">
                <small>Already have account?</small>
              </v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-snackbar color="primary" bottom left v-model="alert.key">{{ alert.text }}</v-snackbar>
    </v-container>
  </div>
</template>

<script>
import ProgressAlert from "@/components/Progress-alerts";
export default {
  components: {
    ProgressAlert
  },
  data() {
    return {
      valid: false,
      alert: {
        key: false,
        text: ""
      },
      // isVendor: false,

      fullName: "demo admin name",
      fullNameRules: [
        v => !!v || "Fullname is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      email: "admin@gmail.com",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: "123456",
      passwordRules: [
        v => !!v || "Password is required",
        v => v.length <= 10 || "Password must be less than 10 characters"
      ]
    };
  },
  methods: {
    send() {
      if (this.valid) {
        axios
          .post("/entrance/signup", {
            fullName: this.fullName.trim(),
            emailAddress: this.email.trim(),
            password: this.password,
            isSuperAdmin: true,
            isVendor: true
          })
          .then(({ data }) => {
            this.$store.commit("setUser", data);
            if (data.isVendor) {
              this.$router.push("/vendor/?");
            }
            if (data.isSuperAdmin) {
              this.$router.push("/sudoer/?");
            }
            if (!data.isVendor) {
              this.$router.push("/user/?");
            }
          })
          .catch(e => {
            // console.log(e.response);
            if (e.response.status == 409) {
              this.alert.key = true;
              this.alert.text = "The provided email is already in use";
            }
          });
      }
    }
  }
};
</script>



<style scoped>
.h {
  height: 20%;
  background: white;
}
</style>
