<template>
  <div>
    <v-container>{{ wallet }}</v-container>
  </div>
</template>

<script>
export default {
  layout: "user",

  data() {
    return {
      wallet: ""
    };
  },
  mounted() {
    this.axios.post("/wallet/wallet", {}).then(({ data }) => {
      this.wallet = data;
    });
  }
};
</script>
