<template>
  <div>
    <v-container grid-list-md>
      <v-layout justify-center row wrap>
        <v-flex xs12 md4>
          <v-card
            to="/user/wallet/cards"
            class="border"
            flat
            dark
            hover
            ripple
            color="primary lighten-2"
          >
            <v-card-title></v-card-title>
            <v-card-text class="headline">
              <h3>Cards</h3>
              {{ wallet.length }}
            </v-card-text>
          </v-card>
        </v-flex>
        <!-- -->
        <v-flex xs12 md4>
          <v-card class="border" flat dark hover ripple color="primary darken-1">
            <v-card-title></v-card-title>
            <v-card-text class="headline">
              <h3>Wallet</h3>
              {{ getWalletTotal | currency }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md4>
          <v-card class="border" flat dark hover ripple color="primary darken-0">
            <v-card-title></v-card-title>
            <v-card-text class="headline">
              <h3>Remaining</h3>
              {{ 9 | currency }}
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout justify-center>
        <v-btn color="primary" @click="fundWalletDialog = true">Fund wallet</v-btn>
        <v-btn color="primary" @click="addCardDialog = true">Add Card</v-btn>
      </v-layout>
    </v-container>

    <v-container grid-list-md>
      <!-- ADD CARD -->
      <v-layout row wrap>
        <!-- fullscreen
        hide-overlay-->

        <v-dialog
          width="400"
          persistent
          transition="dialog-bottom-transition"
          v-model="addCardDialog"
        >
          <v-card>
            <v-toolbar flat dark color="primary">
              <v-btn icon dark @click="addCardDialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Add Card</v-toolbar-title>
              <v-spacer></v-spacer>
              <!-- <v-toolbar-items>
                <v-btn dark flat @click="dialog = false">Save</v-btn>
              </v-toolbar-items>-->
            </v-toolbar>
            <v-progress-linear class="ma-0 pa-0" v-if="addCardLoader" :indeterminate="true"></v-progress-linear>
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    outline
                    v-model="cardNumber"
                    :mask="maskCard"
                    placeholder="0000 0000 0000 0000"
                    label="Card Number"
                  ></v-text-field>
                  <b v-if="cardNumberError" style="color:red">
                    <small>{{ cardNumberError }}</small>
                  </b>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    outline
                    v-model="cardExpDate"
                    :mask="maskExp"
                    placeholder="MM/YY"
                    label="Card Expiry"
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    hint="The 3 numbers at the back of your card"
                    outline
                    v-model="cVv"
                    placeholder="123"
                    label="CVV"
                    :counter="3"
                  ></v-text-field>
                </v-flex>
                <v-btn depressed color="primary" @click="addCard" block>add card</v-btn>
              </v-layout>
            </v-container>
            <v-card-actions>
              <i>You won't be charged until checkout</i>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!-- FUND WALLET -->
        <v-flex xs12 md4>
          <v-dialog width="500" class="border" v-model="fundWalletDialog">
            <v-card>
              <v-progress-linear class="ma-0 pa-0" v-if="fundWalletLoader" :indeterminate="true"></v-progress-linear>
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field outline placeholder="Select Card" label="Select Card"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      :mask="maskFundAmount"
                      outline
                      :rules="cardAmountRules"
                      v-model="cardAmount"
                      placeholder="Enter Amount"
                      label="Enter Amount"
                    ></v-text-field>
                  </v-flex>
                  <v-btn color="primary">Fund wallet</v-btn>
                </v-layout>
              </v-card-text>
              <v-card-actions>
                <i>You won't be charged until checkout</i>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- SNACKBARS-->
    <v-snackbar bottom left color="primary darken-4" v-model="addCardSnackbar" class="ma-5">
      Successfully added new card
      <v-btn small icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-snackbar bottom right color="error" v-model="errorSnackbar" class="ma-5">
      Oops, an unexpected error occured
      <v-btn small icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  layout: "user",

  data() {
    return {
      // wallet holder,
      wallet: "",
      // masks
      maskCard: "credit-card",
      maskExp: "date-with-time",
      maskCvv: "time",
      maskFundAmount: "",

      // FUND WALLET
      cardId: "",
      cardAmount: "",
      cardAmountRules: [v => v || "Amount is required!"],

      // loaders
      addCardLoader: false,
      fundWalletLoader: false,

      // snackbars
      addCardSnackbar: false,
      errorSnackbar: false,

      // dialogs
      fundWalletDialog: false,
      addCardDialog: false,
      // ADD CARD
      cardNumber: "0000 0000 0000 0000",
      cardNumberRules: [],
      cardNumberError: undefined,

      cardExpDate: "43/93",
      cVv: "123",

      walletTotal: "",

      cardIds: []
    };
  },
  mounted() {
    this.axios.post("/wallet/wallet", {}).then(({ data }) => {
      this.wallet = data;
    });
  },
  computed: {
    getWalletTotal() {
      var p = [];
      var o = Number();
      var cardids = [];
      var wallet = this.wallet;
      if (typeof wallet == "object") {
        wallet.map(wlet => {
          // file up the amount
          p.push(wlet.amount);
          // file up the ids usefull for toggling ids from fund wallet
          cardids.push(wlet.id);
          // assing the array to what we will need
          this.cardIds = cardids;
          p.reduce((v, i) => {
            o = v + i;
          });
        });
      }
      return o;
    }
  },
  methods: {
    a() {
      alert("HELL" + "O");
    },
    addCard() {
      this.addCardLoader = true;
      this.axios
        .put("/wallet/add-card", {
          cardNumber: this.cardNumber,
          cardExpDate: this.cardExpDate,
          cVv: this.cVv
          // user: UUID
        })
        .then(res => {
          // hide the [self] dialog outline
          this.addCardDialog = false;
          // [optional] hide the loader
          this.addCardLoader = false;
          // display the success snackbar
          this.addCardSnackbar = true;
        })
        .catch(e => {
          this.addCardLoader = false;
          this.errorSnackbar = true;
          console.log(e.response);
          if (e.response.status == 409) {
            this.cardNumberError =
              "This card has already been used, please edit and try again";
          }
        });
    }
  }
};
</script>

<style scoped>
.headline,
h3 {
  font-weight: 300;
}
h3 {
  color: white;
  font-weight: 400;
}
#border {
  /* border-radius: 13px !important; */
}
</style>

