<route-meta>
{
  "requiresAuth": true
}
</route-meta>
<template>
  <div>
    <Header></Header>
    <v-toolbar color="primary lighten-0" dark>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title @click="$router.push('/')">ImportHub</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-text-field
          outline
          v-model="convValue"
          color="white"
          label="how many dollars per yern?"
          box
        ></v-text-field>
      </v-toolbar-items>
      <v-btn @click="setConvValue" color="primary lighten-3">set</v-btn>

      <v-spacer></v-spacer>
      <v-autocomplete
        background-color="primary darken-1"
        color="white"
        width="80"
        label="Search by cin, name and id"
        box
      ></v-autocomplete>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down"></v-toolbar-items>
    </v-toolbar>

    <!-- side bar -->
    <v-container>
      <v-layout justify-center row wrap>
        <v-content>
          <router-view></router-view>
        </v-content>
      </v-layout>
    </v-container>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ $store.state.user.fullName }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0">
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.link">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>

        <v-list-tile @click="clearAndLogout">
          <v-list-tile-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import Header from "@/components/Progress-alerts";
export default {
  components: {
    Header
  },
  data() {
    return {
      convValue: "",
      drawer: null,
      items: [
        {
          title: "Home",
          icon: "mdi-home",
          link: "/"
        },
        {
          title: "Dashboard",
          icon: "mdi-speedometer",
          link: "/sudoer/?lorem=dolor"
        },
        {
          title: "Add Product",
          icon: "mdi-cart-plus",
          link: "/sudoer/add-product"
        },
        {
          title: "Add Category",
          icon: "mdi-server-plus",
          link: "/sudoer/category/create-category"
        },
        { title: "Products", icon: "mdi-drawing", link: "/sudoer/products" },
        { title: "Orders", icon: "mdi-dropbox", link: "/sudoer/orders" },
        { title: "Users", icon: "mdi-account-group", link: "/sudoer/users" },
        {
          title: "Vendors",
          icon: "mdi-account-heart",
          link: "/sudoer/vendors"
        },
        {
          title: "Carousels",
          icon: "mdi-file-image",
          link: "/sudoer/carousels"
        }
      ]
    };
  },
  created() {
    this.check();
  },
  beforeMount() {
    this.getConvValue();
    this.user;
  },

  computed: {
    user() {
      var user = this.$store.state.user;
      if (user.id && !user.isSuperAdmin) {
        this.$router.push("/");
      }
      return user;
    }
  },
  methods: {
    setConvValue() {
      axios
        .patch("/site/conversion-value/", {
          set: true,
          value: this.convValue
        })
        .then(({ data }) => {
          this.convValue = data;
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    getConvValue() {
      axios
        .patch("/site/conversion-value/", {
          get: true,
          value: Number(this.convValue)
        })
        .then(({ data }) => {
          this.convValue = data;
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    clearAndLogout() {
      axios.delete("/unsync-user").then(res => {
        localStorage.clear();
        this.$router.push("/");
      });
    },
    navigate(to) {
      return this.$router.push(to);
    },
    check() {
      if (window.matchMedia("(min-width:1200px)").matches) {
        this.drawer = true;
      }
    }
  }
};
</script>
<style scoped>
.headline {
  font-weight: 200;
}
</style>
