<template>
  <div>
    <Header/>
    <SubHeader/>
    <!-- <br v-for="i in 5" :key="i"> -->
    <router-view/>
  </div>
</template>

<script>
import Header from "@/components/Header";
import SubHeader from "@/components/SubHeader";

export default {
  components: {
    Header,
    SubHeader
  },
  name: "default",
  data() {
    return {
      //
    };
  }
};
</script>
