<template>
  <div>
    <v-toolbar flat color="primary" class="lighten-2" dark>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title @click="$router.push('/')">
        Import
        <span>Hub</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn color="white" flat>Home</v-btn>
        <v-btn color="white" flat>Orders</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- side bar -->
    <div style="background:white">
      <v-container>
        <v-layout justify-center row wrap>
          <v-content>
            <router-view></router-view>
          </v-content>
        </v-layout>
      </v-container>
    </div>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ $store.state.user.fullName }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0">
        <v-divider></v-divider>

        <v-list-tile v-for="item in items" :key="item.title" @click="navigate(item.to)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider/>

        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: null,
      items: [
        {
          title: "Home",
          icon: "mdi-home",
          to: "/"
        },
        {
          title: "My Orders",
          icon: "mdi-speedometer",
          to: "/user/orders/"
        },
        {
          title: "Cards",
          icon: "mdi-credit-card",
          to: "/user/wallet/wallet/"
        },
        { title: "Feedback", icon: "mdi-lock-question", to: "/feedback" }
        // { title: "Orders", icon: "mdi-dropbox", to: "/sudoer/orders" },
        // { title: "Users", icon: "mdi-account-group", to: "/sudoer/users" }
        // {
        //   title: "Carousels",
        //   icon: "mdi-file-image",
        //   to: "/sudoer/carousels"
        // }
      ]
    };
  },
  created() {
    this.check();
  },
  methods: {
    logout() {
      axios.delete("/unsync-user").then(res => {
        localStorage.clear();
        this.$router.push("/");
      });
      // this.$store.commit("setUser", {});
    },

    navigate(to) {
      return this.$router.push(to);
    },
    check() {
      if (window.matchMedia("(min-width:1200px)").matches) {
        this.drawer = true;
      }
    }
  }
};
</script>
<style scoped>
.headline {
  font-weight: 200;
}
</style>
