<route-meta>
{
  "requiresAuth": true
}
</route-meta>

<template>
  <div>
    <progressAlerts></progressAlerts>
    <v-toolbar fixed color="primary darken-1" dark>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title @click="$router.push('/vendor')">{{ user.fullName}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down"></v-toolbar-items>
    </v-toolbar>

    <!-- side bar -->
    <v-container>
      <v-layout justify-center row wrap>
        <v-content>
          <br/>
          <router-view></router-view>
        </v-content>
      </v-layout>
    </v-container>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-img height="100" :src="banner ? banner : 'https://randomuser.me/api/portraits/men/85.jpg'">
        <v-list class="pa-1">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="logo ? logo : 'https://randomuser.me/api/portraits/men/85.jpg'">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>
                <h2 style="color:white">{{ $store.state.user.fullName }}</h2>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-img>
      <v-list>
        <v-list-tile v-for="(item, i) of items" :key="i" :to="item.link">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider/>

        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import progressAlerts from "@/components/Progress-alerts";
export default {
  components: {
    progressAlerts
  },
  computed: {
    user() {
      var user = this.$store.state.user;
      if (!user.id || !user.isVendor) {
        this.$router.push("/");
      }
      return user;
    }
  },
  data() {
    return {
      drawer: null,
      logo: "",
      banner: "",
      items: [
        {
          title: "Dashboard",
          icon: "mdi-speedometer",
          link: "/vendor/?lorem=dolor"
        },
        {
          title: "Add Product",
          icon: "mdi-clipboard-plus",
          link: "/vendor/add-product/"
        },
        { title: "Products", icon: "mdi-drawing", link: "/vendor/products" },
        // { title: "Orders", icon: "mdi-dropbox", link: "/vendor/orders" },
        {
          title: "Store Setup",
          icon: "mdi-store",
          link: "/vendor/store-setup"
        },
        {
          title: "Messages",
          icon: "mdi-email",
          link: "/vendor/messages"
        },
        // {
        //   title: "Discounts",
        //   icon: "mdi-cash-refund",
        //   link: "/vendor/discounts"
        // },
        {
          title: "Account Info",
          icon: "mdi-account-alert",
          link: "/vendor/account"
        }
      ]
    };
  },
  created() {
    _.map(this.user.storeImages, image => {
      if (image.type == "logo") {
        this.logo = sails.API_URL + "/image/logo/" + image.id;
      } else if (image.type == "banner") {
        this.banner = sails.API_URL + "/image/banner/" + image.id;
      }
    });
  },
  methods: {
    logout() {
      axios.delete("/unsync-user").then(res => {
        localStorage.clear();
        this.$router.push("/");
      });
      // this.$store.commit("setUser", {});
    },
    navigate(to) {
      return this.$router.push(to);
    },
    check() {
      if (window.matchMedia("(min-width:1200px)").matches) {
        this.drawer = true;
      }
    }
  }
};
</script>
<style scoped>
.headline {
  font-weight: 200;
}
</style>
