<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 sm3 md3>
        <v-card color="transparent" flat>
          <v-card-text>
            <!-- product sidebar -->
            <product-sidebar></product-sidebar>
            <!--// product sidebar -->
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm9 md9>
        <!-- products -->
        <product :data="$store.state.products"></product>
        <!--// products -->
      </v-flex>
    </v-layout>

    <!-- over kill -->
    {{ getProducts }}
  </v-container>
</template>

<script>
import product from "@/components/Products";
import productSidebar from "@/components/ProductSidebar";
export default {
  components: {
    product,
    productSidebar
  },
  data() {
    return {
      products: "",
      category: ""
    };
  },

  computed: {
    getProducts() {
      // assign the category to its key
      this.category = this.$route.params.category;

      this.axios
        .get("/category/find-products", {
          params: {
            category: this.category
          }
        })
        .then(res => {
          console.log(res.data);
          this.products = res.data;
          this.$store.commit("setProducts", res.data);
        })
        .catch(e => console.warn(e));
    }
  },
  mounted() {
    // console.log(
    //   "Store products from category page ",
    //   this.$store.state.products
    // );
  },
  methods: {}
};
</script>

<style scoped>
#toggles {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

#saved {
  color: green;
  display: inline;
}
</style>