<template>
  <div>
    <v-container class="my-1 py-0 px-3" grid-list-md fluid>
      <!-- <v-banner single-line @click:icon="alert">
        <v-icon slot="icon" color="warning" size="36">mdi-wifi-strength-alert-outline</v-icon>Unbale to verify your Internet connection
        <template v-slot:actions>
          <v-btn color="primary" text>Connecting Settings</v-btn>
        </template>
      </v-banner>-->
      <v-layout row wrap>
        <v-flex xs12 sm3 md3>
          <v-list dense>
            <v-list-tile v-for="(item, index) in items" :key="index" :to="item.to">
              <v-list-tile-title>
                <v-icon>{{ item.icon }}</v-icon>
                {{ item.title }}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-flex>
        <v-flex xs12 sm9 md9>
          <v-carousel width="100%" height="400" class="elevation-0" hide-delimiters>
            <v-carousel-item
              v-for="(item,i) in caro"
              :key="i"
              :src="url+'/pipe-image/'+item.id"
              :lazy-src="require('../assets/img/error.gif')"
              @click="navigateCarousel(item.url)"
            ></v-carousel-item>
          </v-carousel>
          <!-- <v-layout row wrap class="my-3">
            <v-flex xs6 sm4 md4 v-for="(item,i) of itemsNearCarousel" :key="i">
              <v-card height="120" flat>
                <v-card-text class="headline">{{ item.text }}</v-card-text>
              </v-card>
            </v-flex>
          </v-layout>-->
        </v-flex>
        <!-- <h3 class="headline ma-3">Featured Offers</h3>
        <v-layout row wrap class="my-3">
          <v-flex xs6 sm4 md4 v-for="(item,i) of itemsNearCarousel" :key="i">
            <v-card :img="item.img" height="120" flat>
              <v-card-text class="headline">{{ item.text }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>-->
      </v-layout>
    </v-container>

    <v-container fluid>
      <!-- deals grid -->
      <v-layout row wrap class="my-3">
        <v-flex xs3>
          <v-img
            height="370"
            src="https://img.alicdn.com/tfs/TB1fn69IMHqK1RjSZFkXXX.WFXa-300-320.png"
          />
        </v-flex>
        <v-flex xs3>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card hover flat max-height="200">
                <v-img
                  aspect-ratio="2.4"
                  src="https://img.alicdn.com/tfs/TB1LqROIMHqK1RjSZJnXXbNLpXa-640-640.jpg"
                />
                <v-card-text>
                  <h3>HeadPhones and cables</h3>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card hover flat>
                <v-img
                  aspect-ratio="2.4"
                  src="https://sc01.alicdn.com/kf/HTB1m6YAaULrK1Rjy0Fjq6zYXFXao/Joyroom-90-Degree-USB-USB-C-Stretchable.jpg_300x300.jpg"
                />
                <v-card-text>
                  <h3>Cables & chargers</h3>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs3>
          <v-img
            aspect-ratio="3"
            height="370"
            src="https://img.alicdn.com/tfs/TB1TgLUIFzqK1RjSZFvXXcB7VXa-300-320.png"
          />
        </v-flex>
        <v-flex xs3>
          <v-img
            height="370"
            src="https://img.alicdn.com/tfs/TB1FH2UIMHqK1RjSZFgXXa7JXXa-300-320.png"
          />
        </v-flex>
      </v-layout>
      <!-- // deals grid -->
      <v-container grid-list-md>
        <!-- feautured categories -->
        <h3 class="headline my-3">Featured Categories</h3>
        <v-layout row wrap>
          <v-flex xs6 sm3 md3 v-for="(featured, i) of featuredCategoryItems" :key="i">
            <v-card class="border-only" hover flat ripple :to="featured.to">
              <v-img class="hidden-sm-and-down" :src="featured.img"/>
              <v-card-text>{{ featured.text }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <!-- banners -->
        <v-layout row wrap justify-center>
          <v-flex xs6 md6 class="my-5">
            <v-img hover src="/img/bgs/app-deals.jpg"/>
          </v-flex>
          <v-flex xs6 md6 class="my-5">
            <v-img hover src="/img/bgs/rainy.jpg"/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
    <!-- main container -->
    <v-container fluid>
      <h3 class="headline"></h3>
      <products :data="products"></products>
      <v-spacer/>
    </v-container>
  </div>
</template>

<script>
import products from "@/components/Products";
import { ContentLoader } from "vue-content-loader";
export default {
  components: {
    products,
    ContentLoader
  },
  data() {
    return {
      url: sails.API_URL,
      itemsNearCarousel: [
        {
          text: "Beakel comes to stay! 30% off",
          img:
            "https://img.alicdn.com/tfs/TB1vW9ebnZmx1VjSZFGXXax2XXa-162-140.jpg"
        },
        {
          text: "Up to 20% store coupon",
          img:
            "https://img.alicdn.com/tfs/TB1.Ty2IxnaK1RjSZFBXXcW7VXa-162-140.jpg"
        },
        {
          text: "Laser & Machine Tools",
          img:
            "https://img.alicdn.com/tfs/TB1vpOzIwDqK1RjSZSyXXaxEVXa-162-140.jpg"
        }
      ],
      items: [
        {
          to: "/category/Computers",
          title: "Computers",
          icon: "mdi-heart-half"
        },
        {
          to: "/category/Electronics",
          title: "Electronics",
          icon: "mdi-heart-half"
        },
        {
          to: "/category/Machinary",
          title: "Machinary",
          icon: "mdi-heart-half"
        },
        { to: "/category/Apparel", title: "Apparel", icon: "mdi-heart-half" },
        {
          to: "/category/Home",
          title: "Home & Gardern",
          icon: "mdi-heart-half"
        },
        { to: "/category/Beauty", title: "Beauty", icon: "mdi-heart-half" },
        {
          to: "/category/Health",
          title: "Health & Medicine",
          icon: "mdi-heart-half"
        },
        {
          to: "/category/Automobile",
          title: "Automobile & vehicles",
          icon: "mdi-heart-half"
        },
        // { title: "Sports", icon: "mdi-heart-half" },
        {
          to: "/category/Entertainment",
          title: "Entertainment",
          icon: "mdi-heart-half"
        },
        { to: "/category/All", title: "All Categories", icon: "mdi-heart-half" }
      ],
      featuredCategoryItems: [
        {
          text: "SmartPhones",
          to: "/category/phones",
          img: "/img/bgs/phone.png"
        },
        {
          text: "Televisions",
          to: "/category/televisions",
          img: "/img/bgs/television.png"
        },
        {
          text: "Laptops",
          to: "/category/laptops",
          img: "/img/bgs/laptop.png"
        },
        {
          text: "Home & kitchen",
          to: "/category/kitchen",
          img: "/img/bgs/furniture.png"
        },
        { text: "HandBags", to: "/category/", img: "/img/bgs/handbags.jpg" },
        { text: "Headsets", to: "/category/", img: "/img/bgs/earphone.png" },
        { text: "Games", to: "/category/games", img: "/img/bgs/games.png" },
        { text: "Spy Ware", to: "/category/", img: "/img/bgs/spy.jpg" },
        { text: "Refrigirators", to: "/category/", img: "/img/bgs/fridge.jpg" },
        {
          text: "Mens Fashion",
          to: "/category/fashion",
          img: "/img/bgs/mens-fashion.png"
        },
        {
          text: "Womens Fashion",
          to: "/category/",
          img: "/img/bgs/womens-fashion.png"
        },
        { text: "Babies", to: "/category/babies", img: "/img/bgs/baby.jpg" }
      ],
      products: [],
      caro: []
    };
  },
  methods: {
    navigateCarousel(url) {
      location.href = url;
    }
  },
  mounted() {
    axios.get("site/carousel/get-images").then(({ data }) => {
      this.caro = data;
    });
    axios.get("/products/?limit=10").then(({ data }) => {
      this.$store.commit("setProducts", data);
      var computers = _.map(data, function(o) {
        return o;
      });
      this.products = data;
    });
  }
};
</script>

<style scoped>
#saved {
  color: green;
  display: inline;
}
</style>
