<template>
  <v-app app id="app">
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  components: {},
  name: "App",
  data() {
    return {
      //
    };
  }
};
</script>

<style>
#app {
  background: rgb(241, 243, 248);
}
</style>
