<template>
  <div>
    <v-container v-if="!product">
      <div>
        <ContentLoader
          :height="160"
          :width="400"
          primaryColor="rgb(23, 103, 192)"
          secondaryColor="rgb(9, 65, 138)"
        >
          <rect x="231" y="120" rx="4" ry="4" width="117" height="6.4"/>
          <rect x="73" y="64" rx="3" ry="3" width="85" height="6.4"/>
          <rect x="0" y="80" rx="3" ry="3" width="350" height="6.4"/>
          <rect x="0" y="100" rx="3" ry="3" width="380" height="6.4"/>
          <rect x="0" y="120" rx="3" ry="3" width="201" height="6.4"/>
          <rect x="19.83" y="5.67" rx="0" ry="0" width="357" height="52"/>
        </ContentLoader>
      </div>
    </v-container>

    <div class="product_wrapper" v-else>
      <v-container fluid>
        <v-snackbar bottom left color="primary" v-model="snackbar">
          item has been added to cart
          <v-btn icon @click="snackbar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>

        <v-snackbar bottom left color="primary" v-model="maxMoq">
          Minimum order quantity reached!
          <v-btn icon @click="snackbar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>

        <v-breadcrumbs :items="historyMap" divider=">"></v-breadcrumbs>
        <h1>{{ product.category }}</h1>
      </v-container>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <!-- product images -->
          <v-flex xs12 sm4>
            <!-- <v-card img class="pa-4 transparent" flat> -->
            <v-carousel class="ma-0 elevation-0" hide-delimiters height="300">
              <v-carousel-item
                v-for="photo of product.photos"
                :key="photo.id"
                @click="zoomImage(`${u}/product/${photo.id}/photo`)"
                :src="`${u}/product/${photo.id}/photo`"
              ></v-carousel-item>
            </v-carousel>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs3 v-for="photo of product.photos" :key="photo.id">
                  <v-img height="50" :src="`${u}/product/${photo.id}/photo`"></v-img>
                </v-flex>
              </v-layout>
            </v-card-text>
            <!-- </v-card> -->
          </v-flex>
          <!-- product details -->
          <v-flex xs12 sm5>
            <v-card flat class="flat">
              <v-card-title>
                <h1 class="headling">{{ product.name }}</h1>
                <v-rating small ripple background-color="primary" color="yellow" v-model="rating"></v-rating>
                <span style="color:yellow" class="headline">3.9</span> &nbsp;
                <small>(3.9 votes)</small>
              </v-card-title>
              <!-- <v-card-text class>
              <span class="text-muted">
                Product Code:
                <b>3724511</b>
              </span>
              <hr>
              </v-card-text>-->
              <v-card-text>
                <v-divider/>
                <b>Price:</b> &nbsp;
                <span class="price text-save">{{ product.price | currency }}</span>
                |
                <b>{{ product.stockQuantity }}</b> Pieces |
                <b>{{ product.moq }}</b> Minimum order quantity
                &nbsp;
                <span v-if="product.oldPrice">
                  <span>
                    <strike>{{ product.price - product.oldPrice }}</strike>
                  </span>
                  &nbsp;
                  <span class="text-save">You save {{ saved }}</span>
                  &nbsp;
                  <!-- ... -->
                </span>
                <br>
                <b>Seller Support:</b>
                {{ product.returnPolicy }}
                <br>
                <b>Shipping:</b>
                Alibaba.com Ocean Shipping Service from China to U.S
              </v-card-text>
              <v-card-text>
                <v-btn id="qtysbtns" icon outline color="primary" @click="decrease">-</v-btn>
                <span class="quantity">{{ quantity }}</span>
                <v-btn id="qtysbtns" icon outline color="primary" @click="increase">+</v-btn>
              </v-card-text>

              <v-card-title>
                <v-btn
                  class="flex md3 ma-1"
                  @click="cartNow(product)"
                  depressed
                  block
                  color="primary"
                >Add to cart</v-btn>
                <v-btn class="flex md3 ma-1" depressed block color="secondary">Buy now</v-btn>
              </v-card-title>
            </v-card>
          </v-flex>
          <!--- Author-->
          <v-flex xs12 sm3>
            <v-card flat class="flat">
              <v-card-text>
                <v-avatar>
                  <v-img src="https://sc02.alicdn.com/kf/HTB1zGn3QXXXXXa5apXXq6xXFXXXu.jpg"/>
                </v-avatar>&nbsp;
                <b>{{ vendor.fullName }}</b>
                <br>More details about this vendor and his store should be written here, i'll make sure of that :)
                <br>
                <v-btn
                  :to="{ name: 'vendor-url-message', params: { url: vendor.nameSlug, fromProduct: productLocation }}"
                  class="flex md3 ma-1"
                  depressed
                  color="secondary"
                  icon
                  title="Message vendor"
                >
                  <v-icon>mdi-message</v-icon>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- -->
      <v-container class="transparent">
        <v-tabs centered icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab href="#description">Description</v-tab>
          <v-tab href="#specifications">Specification</v-tab>
          <v-tab href="#return-policy">Return Policy</v-tab>
          <v-tab href="#reviews">Reviews</v-tab>

          <v-tab-item value="description">
            <v-card flat>
              <v-card-text>{{ product.description }}</v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item value="specifications">
            <v-card flat>
              <v-card-text>
                <table style="width:50%" class>
                  <!-- <tr style="width:100%"></tr> -->
                  <tr v-for="(spec, i) of product.specifications" :key="i">
                    <td>
                      <b>{{spec.key.toUpperCase() }}</b>
                    </td>
                    <td>{{ spec.value }}</td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item value="return-policy">
            <v-card flat>
              <v-card-text>{{ product.returnPolicy }}</v-card-text>
            </v-card>
          </v-tab-item>

          <!--== REVIEWS ==-->
          <v-tab-item value="reviews">
            <v-card flat>
              <v-card-text>
                <v-form v-model="reviewFormIsValid">
                  <v-flex xs6>
                    <v-text-field
                      outline
                      disabled
                      placeholder="Your Name"
                      label="Name"
                      :value="user.fullName"
                      :rules="reviewNameRule"
                      v-model="reviewName"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      outline
                      disabled
                      placeholder="Your Email Address"
                      :value="user.emailAddress"
                      :rules="reviewEmailRule"
                      v-model="reviewEmail"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-textarea
                      v-model="reviewText"
                      :rules="reviewTextRule"
                      outline
                      placeholder="Your Review.."
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs6>
                    <v-btn color="primary" depressed>Submit</v-btn>
                  </v-flex>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-container>

      <v-container>
        <v-card flat class="border">
          <v-card-title>
            <h3 class="headline">
              Sold by
              <router-link :to="'/vendor/'+vendor.nameSlug">{{ vendor.fullName}}</router-link>
            </h3>
          </v-card-title>
        </v-card>
        <br>
        <h3 class="headline mx-4 my-5">Few items from {{ vendor.fullName }}</h3>
        <products :data="vendorProducts"></products>
        <v-btn :to="vendor.nameSlug" class="flex xs4" flat color="primary" block>see more</v-btn>
        <br>
        <h3 class="mx-4 headline">Similar Items You May Like</h3>
        <products :data="related"></products>
      </v-container>
    </div>
  </div>
</template>

<script>
import products from "../../components/Products";
import { ContentLoader } from "vue-content-loader";
import { mapState } from "vuex";
export default {
  components: {
    ContentLoader,
    products
  },
  computed: {
    ...mapState(["user"]),
    productLocation() {
      return window.location.href;
    },
    saved() {
      return this.product.price - this.product.marketPrice;
    }
  },
  mounted() {
    axios.get("/product/" + this.$route.params.name).then(res => {
      console.log(res.data);
      this.product = res.data;
      this.vendor = this.product.vendor;
      this.title = this.product;
      this.quantity = this.product.moq;
      // console.log(this.product);
      // get related products
      this.getRelatedProduct(this.product.id);
      // get related vendor product
      this.getRelatedVendorProducts(this.product.vendor.id);
      this.product.category.split(",").forEach(o => {
        var p = {
          text: _.upperFirst(o),
          disabled: false,
          href: "/category/" + _.upperFirst(o)
        };
        this.historyMap.push(p);
      });
      this.historyMap.push({
        text: this.product.subCategory,
        disabled: true,
        href: "/category/" + this.product.subCategory
      });
    });

    this.reviewName = this.user.fullName;
    this.reviewEmail = this.user.emailAddress;
  },
  data() {
    return {
      /** REVIEWS */
      reviewName: "",
      reviewNameRule: [v => !!v || "Name is required"],
      reviewEmail: "",
      reviewEmailRule: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      reviewText: "",
      reviewTextRule: [v => !!v || "Reviews is required"],

      reviewFormIsValid: false,
      // head tags
      title: "",
      // buy now
      buyNowDialog: true,
      maxMoq: false,

      u: process.sails.serverUrl,
      // fixed!
      quantity: 0,
      product: "",
      vendor: "",
      related: "",
      vendorProducts: "",
      snackbar: false,

      rating: 2,
      // randPicture:
      //   "https://picsum.photos/500/300?image=" + Math.floor(Math.random() * 30),
      historyMap: [
        {
          text: "Home",
          disabled: false,
          href: "/"
        }
      ]
    };
  },
  methods: {
    zoomImage(i) {
      console.log(i);
    },
    // get related products
    getRelatedProduct(whatId) {
      this.axios
        .post("/product/related/?limit=4", {
          with: whatId
        })
        .then(res => (this.related = res.data));
    },

    getRelatedVendorProducts(vendor) {
      this.axios
        .post("/product/related-vendor-products", {
          vendor: vendor
        })
        .then(res => (this.vendorProducts = res.data));
    },

    cartNow(needle) {
      this.$store.commit("addToCart", needle);
      this.snackbar = true;
    },
    increase() {
      this.quantity++;
    },
    decrease() {
      this.quantity > this.product.moq ? this.quantity-- : (this.maxMoq = true);
    }
  },
  head() {
    return {
      title: {
        inner: this.title
      }
    };
  }
};
</script>
<style scoped>
.quantity {
  font-weight: bolder;
  font-size: 25px;
}
#qtysbtns {
  border: none !important;
  box-shadow: 13px 13px 20px 2px #d2d7de !important;
}
.price {
  font-size: 28px;
}
.R {
  color: gray;
}
.text-save {
  color: green;
}
</style>
