<template>
  <div>
    <!-- TODO -> Add condition, sizes, specifications, brand, tags -->
    <v-container grid-list-md>
      <v-layout wrap row justify-center align-content-center>
        <v-flex xs12 sm8 md8>
          <v-form v-model="valid">
            <v-card class="my-4 border" flat>
              <v-card-title>
                <h3 class="headline">Create Product</h3>
              </v-card-title>
              <v-card-text>
                <v-text-field outline v-model="name" :rules="nameRules" label="name" required></v-text-field>
                <!----desciption------>
                <v-textarea
                  outline
                  v-model="description"
                  :rules="descriptionRules"
                  label="Description"
                  required
                />

                <v-layout wrap row>
                  <v-flex xs12 md6>
                    <v-select
                      @change="getSubCategory($event)"
                      :items="category"
                      v-model="categoryValue"
                      :rules="categoryRules"
                      label="Category"
                      required
                      outline
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-select
                      :items="subCategory"
                      v-model="subCategoryValue"
                      :rules="subCategoryRules"
                      label="SubCategory"
                      required
                      outline
                    ></v-select>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-for="(specs,index) in specNo" :key="index">
                  <v-flex xs6 md6>
                    <v-text-field
                      outline
                      v-model="spec[index].key"
                      label="Key"
                      placeholder="Color"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 md6>
                    <v-text-field
                      outline
                      v-model="spec[index].value"
                      label="Value"
                      placeholder="red"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-flex xs12>
                  <v-btn color="primary" @click="addSpec()">Add specification</v-btn>
                </v-flex>

                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-text-field
                      outline
                      v-model="sku"
                      label="Stock Keeping Unit"
                      :rules="skuRules"
                      hint="leave empty for auto generated SKU number"
                      required
                    ></v-text-field>
                  </v-flex>
                  <!-- {{spec}} -->
                  <v-flex xs12 md6>
                    <v-text-field outline v-model="returnPolicy" label="Return Policy" required></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card class="my-4 border" flat>
              <v-card-text>
                <h3 class="headline ma-4">Availability</h3>

                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-switch
                      :rules="availableRules"
                      v-model="available"
                      label="Available for sale"
                    ></v-switch>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-switch v-model="requiresShipping" label="Requires Shipping"></v-switch>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card class="my-4 border" flat>
              <v-card-text>
                <h3 class="headline ma-4">Prices & Inventory</h3>

                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-text-field
                      outline
                      v-model="stockQuantity"
                      label="Stock Quantity"
                      placeholder="100"
                      :rules="stockQuantityRules"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      outline
                      v-model="weigth"
                      label="weigth"
                      :rules="weigthRules"
                      placeholder="1lbs"
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs6 md6>
                    <v-text-field
                      type="number"
                      outline
                      :rules="priceRules"
                      v-model="price"
                      label="Price"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 md6>
                    <v-text-field
                      type="number"
                      outline
                      v-model="marketPrice"
                      label="Market Price"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-dialog
                      ref="dialog"
                      v-model="modal"
                      :return-value.sync="arrivalDate"
                      persistent
                      lazy
                      full-width
                      width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          outline
                          v-model="arrivalDate"
                          label="Arrival Date"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="date" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                      </v-date-picker>
                    </v-dialog>
                  </v-flex>

                  <v-flex xs12 md6>
                    <v-text-field
                      outline
                      v-model="moq"
                      label="Moq"
                      placeholder="Minimum Order Quantity"
                      hint="The Minimum Quantity A User Should Order."
                      :rules="moqRules"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card class="my-4 border" flat>
              <v-card-text>
                <h3 class="headline ma-4">Seo Optimization</h3>
                <v-layout row wrap>
                  <v-flex xs12 md6>
                    <v-text-field
                      outline
                      v-model="seo.metaKeywords"
                      label="Meta Keywords"
                      hint="Seperate with comma"
                      required
                    ></v-text-field>
                    <v-text-field outline v-model="seo.metaTitle" label="Meta Title" hint required></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-textarea
                      v-model="seo.metaDescription"
                      height="140"
                      outline
                      label="Meta Description"
                    />
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-btn
              :disabled="!valid"
              depressed
              @click="createProduct"
              block
              color="primary"
            >Next &raquo;</v-btn>
          </v-form>
        </v-flex>
      </v-layout>
      <v-snackbar bottom left v-model="alert.key">{{ alert.text }}</v-snackbar>
    </v-container>
  </div>
</template>


<script>
export default {
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      arrivalDate: "",

      menu: false,
      modal: false,
      menu2: false,
      valid: false,

      alert: {
        key: false,
        text: ""
      },
      marketPrice: "",
      weigth: "",
      weigthRules: [
        v => !!v || "Weight is required"
        // v => v.length <= 10 || 'weight must be less than 10 characters'
      ],
      stockQuantity: "",
      sku: "",

      available: true,
      requiresShipping: true,

      name: "",
      nameRules: [
        v => !!v || "name is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      description: "",
      descriptionRules: [v => !!v || "description is required"],
      moq: _.random(3, 10),
      moqRules: [
        v => !!v || "moq is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      category: [],
      categoryValue: "",
      categoryRules: [
        v => !!v || "category is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],

      subCategory: [],
      subCategoryValue: "",
      subCategoryRules: [
        v => !!v || "subCategory is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      price: "",
      priceRules: [
        v => !!v || "price is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      // avalibility: "",
      // avalibilityRules: [
      //   v => !!v || "avalibility is required"
      //   //v => v.length <= 10 || "Name must be less than 10 characters"
      // ],
      specNo: 0,
      spec: [],
      specificationRules: [
        v => !!v || "specification is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      returnPolicy: _.random(2, 7) + " Day Return Guarantee",
      returnPolicyRules: [
        v => !!v || "ReturnPolicy is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      seo: {
        metaTitle: "",
        metaKeywords: "",
        metaDescription: ""
      }
    };
  },
  computed: {
    user() {
      var user = this.$store.state.user;
      return user;
    }
    // var rand = myArray[Math.floor(Math.random() * myArray.length)];
  },
  mounted() {
    this.user;
    this.getCategory();
  },
  methods: {
    getCategory() {
      axios.get("/category/get-all").then(({ data }) => {
        this.category = _.map(data, e => e.parent);
        // console.log(this.category);
      });
    },
    async getSubCategory(target) {
      var { data } = await axios.get("/category/?parent=" + target);
      this.subCategory = _.map(data, e => e);
      // console.log(this.subCategory);
    },
    createProduct() {
      if (this.valid) {
        axios
          .put("/product/", {
            name: this.name,
            description: this.description,
            moq: this.moq,
            category: this.categoryValue,
            subCategory: this.subCategoryValue,
            price: this.price,
            sku: this.sku,
            availablity: this.available,
            specifications: this.spec,
            returnPolicy: this.returnPolicy,
            arrivalDate: this.arrivalDate,
            stockQuantity: this.stockQuantity,
            weigth: this.weigth,
            marketPrice: this.marketPrice,
            requiresShipping: this.requiresShipping,
            seo: this.seo
          })
          .then(res => {
            // redirect to photos
            return this.$router.push("/product/upload-photo");
          })
          .catch(e => {
            console.log(e.response);
            if (e.response.status === 409) {
              this.alert.key = true;
              this.alert.text =
                "Sorry, this product would violates the unique constraint, please change the name and try again!";
            }
          });
      }
    },
    addSpec() {
      var obj = {
        key: "",
        value: ""
      };
      // this.spec = new Array();
      this.spec.push(obj);
      this.specNo = this.specNo + 1;
      console.log(this.spec);
      // this.spec = [
      //   {
      //     id: 0,
      //     specification: ""
      //   }
      // ];
      // var newSpec = new array();
      // newSpec.push(this.spec[specNo]);
      // tthis.spec = newSpec;
    }
  }
};
</script>
