<template>
  <v-container grid-list-md>
    <v-layout row wrap justify-center align-content-center>
      <v-flex xs12 md6>
        <center>
          <v-icon color="primary" x-large>mdi-camera</v-icon>
        </center>
      </v-flex>
      <v-flex xs12>
        <v-layout row wrap>
          <v-flex v-for="(image, n) of images" :key="n" xs4 d-flex>
            <v-hover>
              <v-card flat tile class="d-flex">
                <v-img
                  :src="sails.API_URL+'/product/'+image.id+'/photo'"
                  :lazy-src="sails.API_URL+'/product/'+image.id+'/photo'"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <v-btn @click="deleteImage(image.id)" color="error" icon>
                    <v-icon>mdi-trash-can</v-icon>
                  </v-btn>

                  <template v-slot:placeholder>
                    <v-layout fill-height align-center justify-center ma-0>
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                </v-img>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs8>
        <file-pond
          class="border"
          name="photo"
          ref="pond"
          label-idle="Drop your photos here..."
          allow-multiple="true"
          accepted-file-types="image/jpeg, image/png"
          :server="server"
          :processfile="demong"
        />
        <!-- v-bind:files="myFiles" -->
        <v-btn color="primary" to="/">ok</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
const FilePond = vueFilePond();

export default {
  components: {
    FilePond
  },
  mounted() {
    if (this.$route.params.editing) {
      this.axios
        .get("/product/" + this.$route.params.productId)
        .then(({ data }) => {
          this.images = data.photos;
        });
    }
  },
  data() {
    return {
      images: [],
      server: {
        url:
          sails.API_URL +
          "/product/upload-photo/?productId=" +
          this.$route.params.productId,
        timeout: 7000,
        process: {
          method: "POST",
          withCredentials: true
        }
      }
    };
  },
  methods: {
    deleteImage(id) {
      axios.delete("/product/delete-photo/", { params: { id: id } }).then(d => {
        var i = this.images.find(x => x.id === id);
        this.images.splice(i.id, 1);
      });
    },
    demong: function() {
      console.log("Task completed!");
    }
  }
};
</script>
