<template>
  <div>
    <v-container grid-list-md fluid>
      <v-layout wrap row justify-center align-content-center>
        <v-card flat>
          <v-alert
            colored-border
            v-model="warn"
            :dismissible="true"
            type="warning"
            class="mb-3"
          >Be carefull when editing and deleting category, things may break and products belonging to an existed, deleted category may suddenly not show up</v-alert>
          <v-tabs v-model="tab" background-color="primary" centered>
            <v-tabs-slider></v-tabs-slider>
            <v-tab href="#create-category">Create Category</v-tab>
            <v-tab href="#categories">Categories</v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item value="create-category">
              <v-card flat>
                <v-card-text>
                  <v-form v-model="valid">
                    <v-layout wrap row>
                      <v-flex xs12 md6>
                        <v-combobox
                          v-model="parent"
                          :items="parentCategories"
                          :search-input.sync="search"
                          hide-selected
                          label="Parent Category"
                          small-chips
                          outline
                        >
                          <template v-slot:no-data>
                            <v-list-tile>
                              <v-list-tile-content>
                                <v-list-tile-title>
                                  No results matching "
                                  <strong>{{ search }}</strong>". Press
                                  <kbd>enter</kbd> to create a new one
                                </v-list-tile-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </template>
                        </v-combobox>

                        <!-- <v-text-field box v-model="parent" :rules="parentRules" label="Parent" required></v-text-field> -->
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-select
                          :items="subCategories"
                          v-model="subCategoriesValue"
                          outline
                          label="Sub Category"
                        ></v-select>
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-text-field
                          outline
                          v-model="category"
                          :rules="categoryRules"
                          label="Category"
                          required
                        ></v-text-field>
                      </v-flex>

                      <!-- <v-flex xs12>
                    <v-select :items="category_" box label="Category"></v-select>
                      </v-flex>-->
                    </v-layout>
                    <v-btn @click="createCategory" color="primary">Save</v-btn>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item value="categories">
              <v-card flat>
                <v-card-text>
                  <v-data-table
                    :rows-per-page-items="[10, 20, 50, 100, 200]"
                    :headers="headers"
                    :items="categories"
                    class="elevation-0"
                  >
                    <template v-slot:items="props">
                      <td>{{ props.item.parent }}</td>
                      <td>{{ props.item.text }}</td>
                      <td>
                        <v-btn
                          title="Delete Category"
                          small
                          icon
                          color="error"
                          @click="deleteCategory(props.item.id)"
                        >
                          <v-icon>mdi-trash-can</v-icon>
                        </v-btn>
                      </td>
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>

        <v-snackbar left bottom v-model="success">Category has been added successfully</v-snackbar>
        <v-snackbar left bottom v-model="snackbar">category already exist</v-snackbar>
        <v-snackbar color="error" left bottom v-model="delSuccess">Deleted successfully</v-snackbar>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "admin",
  data() {
    return {
      warn: true,
      /// == HERE == ///
      headers: [
        {
          text: "Parent",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Category", value: "calories", align: "left" },
        { text: "Actions", value: "carbs" }
      ],

      tab: null,
      search: null,
      parentCategories: [],
      valid: false,
      success: false,
      snackbar: false,
      delSuccess: false,
      categories: [""],
      subCategories: [],
      subCategoriesValue: "",
      parent: "",
      parentRules: [
        v => !!v || "parent category is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      category: "",
      categoryRules: [
        v => !!v || "category is required"
        //v => v.length <= 10 || "Name must be less than 10 characters"
      ]
    };
  },
  mounted() {
    axios.get("/category/get-all").then(({ data }) => {
      this.parentCategories = _.map(data, e => e.parent);
      this.subCategories = _.map(data, e => e.text);
      this.categories = data;
    });
  },
  methods: {
    deleteCategory(id) {
      this.axios.delete("/category/", { params: { id: id } }).then(d => {
        this.delSuccess = true;
        this.categories.splice(
          this.categories.findIndex(i => {
            return i.id === id;
          }),
          1
        );
      });
    },
    reset() {
      // this.parent = " ";
      // this.category = " ";
    },

    createCategory() {
      if (this.valid) {
        this.axios
          .post("/category/create-category", {
            parent: String(this.parent).trim(),
            category: this.category.trim(),
            subCategory: this.subCategoriesValue.trim()
          })
          .then(res => {
            this.reset();
            this.success = true;
            console.log(res.data);
          })
          .catch(e => {
            if (e.response.status == 409) {
              this.snackbar = true;
            }
          });
      }
    }
  }
};
</script>
