/**
* Default Vuetify Overides for @MD2 spec 
*
**/

.theme--light.v-text-field--outline > .v-input__control > .v-input__slot {
  border: 1px dashed rgba(245, 41, 41, 0.54);
}
.border {
  border-radius: 15px;
  box-shadow: 13px 13px 20px 2px #d2d7de;
}

.border-only {
  border-radius: 15px;
}
.flat {
  border-radius: 15px;
  box-shadow: none;
}
.headline {
  font-weight: 250;
}

.v-image__image--cover,
.v-image__image,
.v-image__placeholder {
  border-radius: 0px;
}
